{% extends 'base.html' %}
{% block template %}
<h1>Facturas</h1>
<a href="{% url 'factura_create' %}">Crear nueva factura</a>
<table>
    <tr>
        <th>Número</th>
        <th>Fecha de Emisión</th>
        <th>Empresa</th>
        <th>Receptor</th>
        <th>Acciones</th>
    </tr>
    {% for factura in facturas %}
    <tr>
        <td>{{ factura.numero }}</td>
        <td>{{ factura.fecha_emision }}</td>
        <td>{{ factura.empresa.razon_social }}</td>
        <td>{{ factura.receptor.razon_social }}</td>
        <td>
            <a href="{% url 'factura_update' factura.pk %}">Editar</a>
            <a href="{% url 'factura_delete' factura.pk %}">Eliminar</a>
            <a href="{% url 'detalle_factura_list' factura.pk %}">Detalles</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
